body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Raleway", sans-serif;

  color-scheme: light dark;
  color: rgb(7, 7, 7);
  background-color: #ffffff;
  overflow-x: hidden;
}

.weare {
  width: 200px;
}